<ion-header>
 <ion-toolbar>
   <ion-title>
     Cadastro
   </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-item>
   <ion-label> Nome </ion-label>
   <ion-input></ion-input>
 </ion-item>
 <ion-item>
     <ion-label> E-mail </ion-label>
     <ion-input></ion-input>
  </ion-item>
  <ion-item>
      <ion-label> Senha </ion-label>
      <ion-input type="password"></ion-input>
   </ion-item>
   <ion-item>
       <ion-label> Número de Telefone </ion-label>
       <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Nome do aluno</ion-label>
      <ion-input></ion-input>
      <ion-label>Data de Nascimento</ion-label>
      <ion-input></ion-input>
      <ion-label>Sala</ion-label> <!-- Se der mudar para as opções de sala q tem -->
      <ion-input></ion-input>
      <ion-label>Grau de parentesco</ion-label> <!-- Se der mudar para as opções q tem -->
      <ion-input></ion-input>
      <ion-button>  <ion-icon name="add-circle"></ion-icon>
      </ion-button>
</ion-content>
